.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: black;
  height: 20rem;
  color: white;
  justify-content: center;
  align-items: center;
}


.shopStyle {
  font-size: 3rem;
  font-weight: bolder;
  margin: 0px;
  text-align: center;
}
.template {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.footer{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:2px;
  height:8rem;
  text-align: center;
  background-color:black;color:white;
  font-size: 1.2rem;
}