.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: black;
  height: 20rem;
  color: white;
  justify-content: center;
  align-items: center;
}

.shopStyle {
  font-size: 3rem;
  font-weight: bolder;
  margin: 0px;
  text-align: center;
}
.template {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  height: 8rem;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}
.product-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 6.5rem 0rem;
  margin-left: 3rem;
  justify-content: center;
}
.productBox {
  border-style: solid;
  border: 1px solid #d3d3d3;
  border-radius: 0.2rem;
  height: 450px;
  width: 300px;
  opacity: 0.1rem;
}
.image-container {
  height: 220px;
  object-fit: cover;
  border-radius: 0.2rem;
  width: 300px;
}
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: wrap;
  height: 120px;
 
}
.header{
  display: flex;
  flex-wrap: wrap;
  gap:2.5rem;
  align-content: center;
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}
.item-name {
  font-weight: bolder;
  font-size: 1.4rem;
  text-align: center;
}
.price {
  text-align: center;
}

/*PHONE width less than 768 */
@media only screen and (max-width: 768px) {
  
}
/* TABLETS >  768*/
/* @media only screen and (min-width: 768px) {
  .productBox {
    background-color: yellow;
    
  }
} */
/*DESKTOP > 1200px*/
@media only screen and (min-width: 1200px) {
  .productBox {
    background-color: green;
  }
}
